@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Inconsolata', monospace;
}

body, nav{
    background-color: #FAD6A5;
}


h5 {
	font-weight: 900;
	text-decoration: underline;
	margin-left: 75px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;

 	
}
.card{
	
margin-top: 20%;
 	border: 0;
 	margin-left: 68px;
   height: 50%;
}

.tarjetasAtracciones{
      display: flex;
    flex-direction: row;
    justify-content: space-around;
margin-top: 10%;
 	border: 0;
 	align-items: left;
   height: 50%;
}

.tarjetasAtracciones > img{
    max-width: 100%;
    height: auto;
}

/*.tarjetasAtracciones-wrap {
	overflow-x: scroll;
	display: flex;
} */
iframe{

  width: 500px;
  height: 300px;
  /*Sólo para que se vea, ya que la dirección al parecer está mal*/
  border: 10px solid white;
  margin-left: 65%;
  margin-top: 5%;
}

footer{
    background-color: rgb(223, 226, 206);
}

